In [16]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [17]:
df = pd.read_csv("upi_data_enhanced.csv")

In [18]:
df.head()

,Month,No. of Banks live on UPI,Volume (in Mn),Value (in Cr.),Avg_Txn_Value_INR,MoM_Growth_Volume_%,MoM_Growth_Value_%
0,Aug-25,688,20008.31,2485472.91,1242.220312,2.775639,-0.917887
1,Jul-25,684,19467.95,2508498.09,1288.527087,5.832777,4.349851
2,Jun-25,675,18395.01,2403930.69,1306.838480,-1.512251,-4.389550
3,May-25,673,18677.46,2514297.01,1346.166454,4.381722,4.984335
4,Apr-25,668,17893.42,2394925.87,1338.439421,-2.229816,-3.322098

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Month                     113 non-null    object
 1   No. of Banks live on UPI  113 non-null    int64
 2   Volume (in Mn)            113 non-null    float64
 3   Value (in Cr.)            113 non-null    float64
 4   Avg_Txn_Value_INR         110 non-null    float64
 5   MoM_Growth_Volume_%       110 non-null    float64
 6   MoM_Growth_Value_%        110 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 6.3+ KB

In [20]:
df['Month'] = pd.to_datetime(df['Month'], format='%b-%y')
df = df.sort_values('Month')

In [21]:
df = df.rename(columns={
    'No. of Banks live on UPI': 'Banks_Live',
    'Volume (in Mn)': 'Txn_Volume_Mn',
    'Value (in Cr.)': 'Txn_Value_Cr'
})

In [22]:
df.columns

Index(['Month', 'Banks_Live', 'Txn_Volume_Mn', 'Txn_Value_Cr',
       'Avg_Txn_Value_INR', 'MoM_Growth_Volume_%', 'MoM_Growth_Value_%'],
      dtype='object')

In [23]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)
df = df.where(pd.notnull(df), None)

In [24]:
df.to_csv("cleaned_upi_data.csv", index=False)

In [25]:
engine = create_engine(
    "mysql+pymysql://root:pricass00@localhost:3306/fintech_upi"
)

In [26]:
engine.connect()
print("MySQL connection successful")

MySQL connection successful

In [27]:
df.to_sql(
    name="upi_transactions",
    con=engine,
    if_exists="replace",
    index=False
)

print("Data successfully loaded into MySQL")

Data successfully loaded into MySQL